<mat-toolbar class="header">
  <div class="nav-left">
    <button class="btn-mobile-principal" type="button" aria-label="Toggle sidenav" mat-icon-button
      (click)="drawer.toggle()" *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <button mat-button class="btn-chevron" onclick="isExp()" (click)="isExpanded = !isExpanded">
      <mat-icon mat-list-icon class="chevron-button sidenav-button" [ngClass]="{'rotated': isExpanded}">
        menu
      </mat-icon>
    </button>
    <a class="" [routerLink]="'liste-user'">
      <img src="../../../../assets/images/tanitlabailogo.png" class="logo">
    </a>

  </div>
  <div>

  </div>
  <!-- <input class="form-control form-control-light  rounded-0 border-0 search-input" type="text" placeholder="Search"
    aria-label="Search"> -->

  <div class="navbar-nav custom-navbar">
    <div class="nav-item text-nowrap nav-header px-0">
      <!-- start header notification -->
      <!-- <app-header-notification></app-header-notification> -->
      <!-- end header notification -->

      <!-- profile settings-->
      <div class="dropdown px-md-3 px-xs-2 px-sm-2 m-auto ">
        <a href="#"
          class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle slide-in-blurred-top m-auto"
          data-bs-toggle="dropdown" aria-expanded="false">
          <div class="user-profil-img rounded-5 me-2"></div>
        </a>
        <ul
          class="dropdown-menu ul-profil dropdown-menu-perso dropdown-menu-light text-small shadow  slide-in-blurred-top"
          style="inset: none;">
          <li>
            <div class="li-profil-img">
              <img src="../../../../../assets/images/pict-user.jpg" alt="" width="40" height="40"
                class="rounded me-2 color-change-2x1"> <br>
              {{currentUser?.firstName | uppercase}} {{currentUser?.lastName | uppercase}}
            </div>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" [routerLink]="'change-password'" href="#">
              <mat-icon>autorenew</mat-icon>
              <span>Mot de passe</span>
            </a>
          </li>
          <!--  <li><a class="dropdown-item " href="#">
          <mat-icon>settings</mat-icon>
        <span>Settings</span>  
        </a></li>-->
          <li>
            <a class="dropdown-item " style="cursor: pointer;" (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Log Out</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</mat-toolbar>

<mat-sidenav-container class="sidenav-container" autosize id="sidenav">




  <mat-sidenav #drawer class="sidenav menu swing-in-left-bck"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false" [ngClass]="{'new-width': isExpanded}">

    <mat-nav-list class=" menu-style" [ngClass]="{'new-style-css': isExpanded}">
      <mat-list-item *ngIf="currentUser?.role=='ADMIN'" [routerLink]="'liste-type-device'" routerLinkActive="active"
        class="list-item">
        <mat-icon mat-list-icon class="icon-link">next_week</mat-icon>
        <span>Types</span>
      </mat-list-item>
      <mat-list-item *ngIf="currentUser?.role=='ADMIN'" [routerLink]="'liste-device'" routerLinkActive="active"
        class="list-item">
        <mat-icon mat-list-icon class="icon-link">airplay</mat-icon>
        <span>Matériels</span>
      </mat-list-item>

      <mat-list-item *ngIf="currentUser?.role=='ADMIN'" [routerLink]="'liste-user'" routerLinkActive="active"
        class="list-item">
        <mat-icon mat-list-icon class="icon-link">group</mat-icon>
        <span>Utilisateurs</span>
      </mat-list-item>
      <mat-list-item *ngIf="currentUser?.role!=='ADMIN'" [routerLink]="'my-devices'" routerLinkActive="active"
        class="list-item">
        <mat-icon mat-list-icon class="icon-link">home</mat-icon>
        <span>Mon espace</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'view-user'" routerLinkActive="active" class="list-item">
        <mat-icon mat-list-icon class="icon-link">person</mat-icon>
        <span>Mon profil</span>
      </mat-list-item>
      <mat-list-item *ngIf="currentUser?.role=='ADMIN'" [routerLink]="'affectation'" routerLinkActive="active"
        class="list-item">
        <mat-icon mat-list-icon class="icon-link">how_to_reg</mat-icon>
        <span>Affectations</span>
      </mat-list-item>

      <mat-list-item *ngIf="currentUser?.role!=='ADMIN'" [routerLink]="'mes-demandes'" routerLinkActive="active"
        class="list-item">
        <mat-icon mat-list-icon class="icon-link">add_shopping_cart</mat-icon>
        <span>Mes demandes</span>
      </mat-list-item>
      <mat-list-item *ngIf="currentUser?.role=='ADMIN'" [routerLink]="'reclamations'" routerLinkActive="active"
        class="list-item">
        <mat-icon mat-list-icon class="icon-link">subject</mat-icon>
        <span>Réclamations</span>
      </mat-list-item>
      <mat-list-item *ngIf="currentUser?.role=='ADMIN'" [routerLink]="'all-demandes'" routerLinkActive="active"
        class="list-item">
        <mat-icon mat-list-icon class="icon-link">library_books</mat-icon>
        <span>Demandes</span>
      </mat-list-item>
      <mat-list-item *ngIf="currentUser?.role=='ADMIN'" [routerLink]="'historique'" routerLinkActive="active"
        class="list-item">
        <mat-icon mat-list-icon class="icon-link">chrome_reader_mode</mat-icon>
        <span>Historique</span>
      </mat-list-item>
      <!-- <mat-list-item [routerLink]="'liste-notification'" routerLinkActive="active" class="list-item">
        <mat-icon mat-list-icon class="icon-link">forward_to_inbox</mat-icon>
        <span >Messages</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'liste-accordion'" routerLinkActive="active" class="list-item">
        <mat-icon mat-list-icon class="icon-link">stairs</mat-icon>
        <span >Accordion</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'liste-card'" routerLinkActive="active" class="list-item">
        <mat-icon mat-list-icon class="icon-link">dashboard</mat-icon>
        <span >Card</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'timeline-vertical'" routerLinkActive="active" class="list-item">
        <mat-icon mat-list-icon class="icon-link" >timeline</mat-icon>
        <span >Timeline</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'stepper-horizontal'" routerLinkActive="active" class="list-item">
        <mat-icon mat-list-icon class="icon-link" >123</mat-icon>
        <span >Stepper Horizontal</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'stepper-vertical'" routerLinkActive="active" class="list-item">
        <mat-icon mat-list-icon class="icon-link" >123</mat-icon>
        <span >Stepper Vertical</span>
      </mat-list-item> -->
      <!-- <mat-list-item [routerLink]="'form-app'" routerLinkActive="active" class="list-item">
        <mat-icon mat-list-icon class="icon-link" >check_box</mat-icon>
        <span >Form Angular Material</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'bootstrap-form'" routerLinkActive="active" class="list-item">
        <mat-icon mat-list-icon class="icon-link" >radio_button_checked</mat-icon>
        <span >Bootstrap Form</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'workflow'" routerLinkActive="active" class="list-item">
        <mat-icon mat-list-icon class="icon-link" >dashboard_customize</mat-icon>
        <span >Workflow</span>
      </mat-list-item> -->

    </mat-nav-list>


  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <!-- <div style="width: 100%; height: 53px; background-color: gray;" > HERE IS FOOTER</div> -->
      <!-- <img style="width: 100%; margin-top: 0;" src="assets/images/footer.jpg" alt=""> -->
  </mat-sidenav-content>

</mat-sidenav-container>



<!-- 
<div  style="width: 100%; height: 100%; background: rgb(255, 255, 255); z-index: 20; position: relative;">
  <as-split direction="horizontal" unit="pixel" class="sidenav-container sidenav-split-container" autosize id="sidenav">
    <as-split-area size="250"   
              #drawer class="sidenav menu-split swing-in-left-bck" 
              [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"              
               >
      
      <mat-nav-list class=" menu-style" >
        <mat-list-item [routerLink]="'liste-user'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link" >home_outline</mat-icon>
          <span >Home</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'view-user'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link">group</mat-icon>
          <span >User</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'liste-notification'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link">forward_to_inbox</mat-icon>
          <span >Messages</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'liste-accordion'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link">stairs</mat-icon>
          <span >Accordion</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'liste-card'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link">dashboard</mat-icon>
          <span >Card</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'timeline-vertical'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link" >timeline</mat-icon>
          <span >Timeline</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'stepper-horizontal'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link" >123</mat-icon>
          <span >Stepper Horizontal</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'stepper-vertical'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link" >123</mat-icon>
          <span >Stepper Vertical</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'form-app'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link" >check_box</mat-icon>
          <span >Form Angular Material</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'bootstrap-form'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link" >radio_button_checked</mat-icon>
          <span >Bootstrap Form</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'workflow'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link" >dashboard_customize</mat-icon>
          <span >Workflow</span>
        </mat-list-item>
        
      </mat-nav-list>
  
    </as-split-area>
    <as-split-area >
      <div class="row">
        <div class="col-12">
           
          <router-outlet></router-outlet>
        </div>
        
      </div>
     
    </as-split-area>
  </as-split>
</div>

 -->