<div class="w-100 title-dialog">
    <H2>Modifier utilisateur</H2>
    <hr>
</div>


<div mat-dialog-content class="dialog-user">
    <form [formGroup]="addForm" novalidate style="width: 700px;">
        <div class="row mb-1">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-xs-3 mb-sm-3">
                <div style="display: flex; justify-content: space-between;">

                    <mat-form-field appearance="outline">
                        <mat-label>Prénom</mat-label>
                        <input formControlName="firstName" matInput placeholder="Prénom">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Nom</mat-label>
                        <input formControlName="lastName" matInput placeholder="Nom">
                    </mat-form-field>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <mat-form-field appearance="outline">
                        <mat-label>Identifiant</mat-label>
                        <input formControlName="userName" matInput placeholder="Identifiant">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                    </mat-form-field>
                </div>











            </div>

        </div>

    </form>

    <div class="row dialog-action">
        <button mat-raised-button class="btn-save btn-dialog-action" (click)="onSubmit()" [disabled]="addForm.invalid"
            color="primary">Enregistrer</button>
        <button mat-raised-button class="btn-cancel btn-dialog-action" color="warn" mat-dialog-close>Annuler</button>
    </div>
</div>