
    <div class="title-dialog">
        <H2>View User</H2>
        <hr>
    </div>


    <div mat-dialog-content class="dialog-user">
        <div class="row py-4 px-2">
            <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="card-user card card-view-user">
                    <div class="image">
                        <!-- <img alt="..." src="https://demos.creative-tim.com/now-ui-dashboard-pro-react/static/media/bg5.d60a95eb.jpg"> -->
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <img alt="..." class="avatar border-gray" src="../../../../../assets/images/pict-user.jpg">
                            <h5 class="title">Sami Darraji</h5>

                            <p class="description user-id">darraji934</p>
                        </div>
                        <p class="description text-center">"Intégrateur Web et Web Designer"</p>
                    </div>
                    <hr>
                    <div class="button-container">
                        <button  mat-mini-fab color="custom-fab" class="btn-icon">
                            <mat-icon matTooltip="Chat" matTooltipClass="custom-tooltip">chat
                            </mat-icon>
                        </button>
                        <button mat-mini-fab color="custom-fab" class="btn-icon">
                            <mat-icon matTooltip="Message" matTooltipClass="custom-tooltip">email</mat-icon>
                        </button>

                    </div>
                </div>
            </div>

            <div class="col-sm-8 col-md-8 col-lg-9 ">
                <div class="card-user card card-info-user">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 mb-2">
                            <p class="title-info">First Name</p>
                            <p class="description-info">Sami</p>
                        </div>
                        <div class="col-sm-6 col-md-4 mb-2">
                            <p class="title-info">Last Name</p>
                            <p class="description-info">Darraji</p>
                        </div>
                        <div class="col-sm-6 col-md-4 mb-2">
                            <p class="title-info">Email</p>
                            <p class="description-info">sami@email.com</p>
                        </div>
                        <div class="col-sm-6 col-md-4 mb-2">
                            <p class="title-info">Tél</p>
                            <p class="description-info">(00216) 00 000 000</p>
                        </div>
                        <div class="col-sm-12 col-md-8 mb-2">
                            <p class="title-info">Address</p>
                            <p class="description-info">03 rue de l'indépendance Bardo 2000</p>
                        </div>
                        <div class="col-sm-12 col-md-12 mb-2">
                            <p class="title-info">About Me</p>
                            <p class="description-info">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Asperiores eos repudiandae voluptatem maxime, corrupti laborum maiores explicabo fugit,
                                exercitationem ducimus ex. Officiis est doloremque numquam aperiam modi, esse veritatis
                                ad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
