<div class="div-main">
    <div class="title-page">
        <h2>Liste des demandes</h2>

    </div>

    <div class="row custom-div-liste-user">
        <div style="padding: 50px;">

            <p-table [value]="demandes" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5, 10, 20]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Date</th>
                        <th>Utilisateur</th>
                        <th>Device type</th>
                        <th>Titre</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <th>
                            <p-columnFilter type="text" field="dateDemande"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="utilisateur.firstName"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="deviceType"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="titre"></p-columnFilter>
                        </th>
                        <th></th>

                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-demandes>
                    <tr>
                        <td>{{demandes.dateDemande | date}}</td>
                        <td>{{demandes.utilisateur.firstName}} {{demandes.utilisateur.lastName}}</td>
                        <td>{{demandes.deviceType | uppercase}}</td>
                        <td>{{demandes.titre}}</td>
                        <td><button (click)="show(demandes)" pButton pRipple type="button" label="Details" class="p-button-outlined p-button-rounded p-button-secondary"></button></td>
                    </tr>
                </ng-template>
            </p-table>
            <p-dialog  [(visible)]="displayBasic" [style]="{width: '50vw'}">
                <ng-template pTemplate="header">
                    {{data?.utilisateur.firstName | uppercase}} {{data?.utilisateur.lastName | uppercase}} a demandé un/une {{data?.deviceType}}
                </ng-template>
                <strong>{{data?.titre}}</strong> <br>
                {{data?.description}}
                <ng-template pTemplate="footer">
                    Date : {{data?.dateDemande | date}}
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>