<div>
    <form style="width: 40rem; margin-left: auto; margin-right: auto; margin-top: 30px;">
        <div class="text-center">
            <mat-icon class="icon-login">pattern</mat-icon>

            <h1 class="h4 mb-4 fw-normal">Changer le mot de passe</h1>

        </div>

        <div class="form-floating">
            <input type="password" name="password" [(ngModel)]="password" class="form-control floatPassword" id="floatPassword" placeholder="Password">
            <label for="floatingPassword">Nouveau Mot de passe</label>
        </div>

        <div class="form-floating">
            <input type="password" name="confirmation" [(ngModel)]="confirmation" class="form-control floatRepeatPassword" id="floatRepeatPassword"
                placeholder="Repeat Password">
            <label for="floatRepeatPassword">Confirmer le Mot de passe</label>
        </div>


        <button [disabled]="!password || !confirmation || password!==confirmation" (click)="changePassword()" class="w-100 btn btn-lg btn-primary btn-submit" type="submit">Enregistrer</button>

        <!--<p class="mt-4 mb-1 text-muted text-center">&copy; Tanitlab 2022</p>-->
    </form>
</div>
        
