<div class="div-main">
    <div class="title-page">
        <h2>Workflow page</h2>
    </div>

    <div class="row workflow-block" >
        <div class="col-8 workflow-control-panel">
            <div class="workflow-container" id="workflow-container-id">
                <div class="div-btn-start">
                    <button class="btn-start-workflow after" type="button">Start</button>
                </div>
                <div class="section-step" id="steps"></div>
                <div class="div-add-new-step step-container-btn">
                    <button class="btn-new-step after" type="button" onclick="creatSimpleStep()">
                        Add Step
                    </button>
                </div>
                <div class="div-btn-end">
                    <button class="btn-end-workflow " type="button">End</button>
                </div>
            </div>
        </div>
        <div col class="col-4 workflow-sidebar">
        
      </div>
    </div>
</div>
