<div class="div-main">

    <div class="title-page">
        <H2>Card page</H2>
    </div>


    <div class="page-user">
        <div class="row py-4  px-2">
            <!---->
            <div class="col-sm-6 col-md-6 col-lg-4 col-xxl-3 mb-4">
                <div class="card simple-card">
                    <div class="card-header">
                        <div class="row">
                            <div class="card-header-left col-6 d-flex flex-row justify-content-start">
                                <mat-icon>person</mat-icon>
                                <span class="span-header">Users</span>
                            </div>
                            <div class="card-header-right col-6 d-flex flex-row justify-content-end ">
                                <!--<span class="title-right-header span-header">Manage</span>
                                    <button class="btn-icon" id="headingTwo" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                                        mat-icon-button aria-label="button accordion up">
                                        <mat-icon>expand_less</mat-icon>
                                    </button>  -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3 indicateurs">
                            <div class="col-6 d-flex flex-column"><span class="text-muted">Active</span>
                                <p>22</p>
                            </div>
                            <div class="col-6 d-flex flex-column"><span class="text-muted">Deleted</span>
                                <p>1</p>
                            </div>
                        </div>

                        <div class="row card-link">
                            <div class="col-12 div-lin"><a>Add a user</a></div>
                            <div class="col-12 div-lin"><a>Update a user's</a>
                            </div>
                            <div class="col-12 div-lin"><a>Remove user</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-sm-6 col-md-6 col-lg-4 col-xxl-3 mb-4">
                <div class="card simple-card">
                    <div class="card-header">
                        <div class="row">
                            <div class="card-header-left col-6 d-flex flex-row justify-content-start">
                                <mat-icon>person</mat-icon>
                                <span class="span-header">Users</span>
                            </div>
                            <div class="card-header-right col-6 d-flex flex-row justify-content-end ">
                                <!--<span class="title-right-header span-header">Manage</span>
                                    <button class="btn-icon" id="headingTwo" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                                        mat-icon-button aria-label="button accordion up">
                                        <mat-icon>expand_less</mat-icon>
                                    </button>  -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3 indicateurs">
                            <div class="col-6 d-flex flex-column"><span class="text-muted">Active</span>
                                <p>22</p>
                            </div>
                            <div class="col-6 d-flex flex-column"><span class="text-muted">Deleted</span>
                                <p>1</p>
                            </div>
                        </div>

                        <div class="row card-link">
                            <div class="col-12 div-lin"><a>Add a user</a></div>
                            <div class="col-12 div-lin"><a>Update a user's</a>
                            </div>
                            <div class="col-12 div-lin"><a>Remove user</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-sm-6 col-md-6 col-lg-4 col-xxl-3 mb-4">
                <div class="card simple-card">
                    <div class="card-header">
                        <div class="row">
                            <div class="card-header-left col-6 d-flex flex-row justify-content-start">
                                <mat-icon>person</mat-icon>
                                <span class="span-header">Users</span>
                            </div>
                            <div class="card-header-right col-6 d-flex flex-row justify-content-end ">
                                <!--<span class="title-right-header span-header">Manage</span>
                                    <button class="btn-icon" id="headingTwo" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                                        mat-icon-button aria-label="button accordion up">
                                        <mat-icon>expand_less</mat-icon>
                                    </button>  -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3 indicateurs">
                            <div class="col-6 d-flex flex-column"><span class="text-muted">Active</span>
                                <p>22</p>
                            </div>
                            <div class="col-6 d-flex flex-column"><span class="text-muted">Deleted</span>
                                <p>1</p>
                            </div>
                        </div>

                        <div class="row card-link">
                            <div class="col-12 div-lin"><a>Add a user</a></div>
                            <div class="col-12 div-lin"><a>Update a user's</a>
                            </div>
                            <div class="col-12 div-lin"><a>Remove user</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-sm-6 col-md-6 col-lg-4 col-xxl-3 mb-4">
                <div class="card simple-card">
                    <div class="card-header">
                        <div class="row">
                            <div class="card-header-left col-6 d-flex flex-row justify-content-start">
                                <mat-icon>person</mat-icon>
                                <span class="span-header">Users</span>
                            </div>
                            <div class="card-header-right col-6 d-flex flex-row justify-content-end ">
                                <!--<span class="title-right-header span-header">Manage</span>
                                    <button class="btn-icon" id="headingTwo" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                                        mat-icon-button aria-label="button accordion up">
                                        <mat-icon>expand_less</mat-icon>
                                    </button>  -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3 indicateurs">
                            <div class="col-6 d-flex flex-column"><span class="text-muted">Active</span>
                                <p>22</p>
                            </div>
                            <div class="col-6 d-flex flex-column"><span class="text-muted">Deleted</span>
                                <p>1</p>
                            </div>
                        </div>

                        <div class="row card-link">
                            <div class="col-12 div-lin"><a>Add a user</a></div>
                            <div class="col-12 div-lin"><a>Update a user's</a>
                            </div>
                            <div class="col-12 div-lin"><a>Remove user</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-sm-6 col-md-6 col-lg-4 col-xxl-3 mb-4">
                <div class="card simple-card">
                    <div class="card-header">
                        <div class="row">
                            <div class="card-header-left col-6 d-flex flex-row justify-content-start">
                                <mat-icon>person</mat-icon>
                                <span class="span-header">Users</span>
                            </div>
                            <div class="card-header-right col-6 d-flex flex-row justify-content-end ">
                                <!--<span class="title-right-header span-header">Manage</span>
                                    <button class="btn-icon" id="headingTwo" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                                        mat-icon-button aria-label="button accordion up">
                                        <mat-icon>expand_less</mat-icon>
                                    </button>  -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3 indicateurs">
                            <div class="col-6 d-flex flex-column"><span class="text-muted">Active</span>
                                <p>22</p>
                            </div>
                            <div class="col-6 d-flex flex-column"><span class="text-muted">Deleted</span>
                                <p>1</p>
                            </div>
                        </div>

                        <div class="row card-link">
                            <div class="col-12 div-lin"><a>Add a user</a></div>
                            <div class="col-12 div-lin"><a>Update a user's</a>
                            </div>
                            <div class="col-12 div-lin"><a>Remove user</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-sm-6 col-md-6 col-lg-4 col-xxl-3 mb-4">
                <div class="card simple-card">
                    <div class="card-header">
                        <div class="row">
                            <div class="card-header-left col-6 d-flex flex-row justify-content-start">
                                <mat-icon>person</mat-icon>
                                <span class="span-header">Users</span>
                            </div>
                            <div class="card-header-right col-6 d-flex flex-row justify-content-end ">
                                <!--<span class="title-right-header span-header">Manage</span>
                                    <button class="btn-icon" id="headingTwo" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                                        mat-icon-button aria-label="button accordion up">
                                        <mat-icon>expand_less</mat-icon>
                                    </button>  -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3 indicateurs">
                            <div class="col-6 d-flex flex-column"><span class="text-muted">Active</span>
                                <p>22</p>
                            </div>
                            <div class="col-6 d-flex flex-column"><span class="text-muted">Deleted</span>
                                <p>1</p>
                            </div>
                        </div>

                        <div class="row card-link">
                            <div class="col-12 div-lin"><a>Add a user</a></div>
                            <div class="col-12 div-lin"><a>Update a user's</a>
                            </div>
                            <div class="col-12 div-lin"><a>Remove user</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-sm-6 col-md-6 col-lg-4 col-xxl-3 mb-4">
                <div class="card simple-card">
                    <div class="card-header">
                        <div class="row">
                            <div class="card-header-left col-6 d-flex flex-row justify-content-start">
                                <mat-icon>person</mat-icon>
                                <span class="span-header">Users</span>
                            </div>
                            <div class="card-header-right col-6 d-flex flex-row justify-content-end ">
                                <!--<span class="title-right-header span-header">Manage</span>
                                    <button class="btn-icon" id="headingTwo" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                                        mat-icon-button aria-label="button accordion up">
                                        <mat-icon>expand_less</mat-icon>
                                    </button>  -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3 indicateurs">
                            <div class="col-6 d-flex flex-column"><span class="text-muted">Active</span>
                                <p>22</p>
                            </div>
                            <div class="col-6 d-flex flex-column"><span class="text-muted">Deleted</span>
                                <p>1</p>
                            </div>
                        </div>

                        <div class="row card-link">
                            <div class="col-12 div-lin"><a>Add a user</a></div>
                            <div class="col-12 div-lin"><a>Update a user's</a>
                            </div>
                            <div class="col-12 div-lin"><a>Remove user</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-sm-6 col-md-6 col-lg-4 col-xxl-3 mb-4">
                <div class="card simple-card">
                    <div class="card-header">
                        <div class="row">
                            <div class="card-header-left col-6 d-flex flex-row justify-content-start">
                                <mat-icon>person</mat-icon>
                                <span class="span-header">Users</span>
                            </div>
                            <div class="card-header-right col-6 d-flex flex-row justify-content-end ">
                                <!--<span class="title-right-header span-header">Manage</span>
                                    <button class="btn-icon" id="headingTwo" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                                        mat-icon-button aria-label="button accordion up">
                                        <mat-icon>expand_less</mat-icon>
                                    </button>  -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3 indicateurs">
                            <div class="col-6 d-flex flex-column"><span class="text-muted">Active</span>
                                <p>22</p>
                            </div>
                            <div class="col-6 d-flex flex-column"><span class="text-muted">Deleted</span>
                                <p>1</p>
                            </div>
                        </div>

                        <div class="row card-link">
                            <div class="col-12 div-lin"><a>Add a user</a></div>
                            <div class="col-12 div-lin"><a>Update a user's</a>
                            </div>
                            <div class="col-12 div-lin"><a>Remove user</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
        </div>
    </div>
</div>